#title {
    background-color: rgb(235, 245, 247);
    /*Makes it possible to control children using flex-box*/
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.title{
    display: block;
}

#img-div{
    background-color: rgb(0, 177, 204);
    /*Centers children items using flexbox.*/
    display: flex;
    justify-content: center;
}


#image {
    display: block;
    /*makes the image responsive*/
    max-width: 100%;
    height: auto;

   
}

